body {
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.intro{
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
}
.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header {
    background: #444;
}
.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.header li:nth-child(1) {
    font-size: 32px;
    color: #ccc;
}
.header .fa {
    font-size: 28px;
    color: #ccc;
}
.main {
    flex: 1;
    padding: 30px;
    position: relative;
}
.main>div {
    border-bottom: 1px solid #ccc;
    transition: .3s;
    position: relative;
}
.main>div::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 0;
    background: #333;
    transition: .3s;
    display: block;
    left: 0;
    z-index: 99;
}
.main>div:hover::after {
    height: 3px;
}
.main>div ul li {
    padding: 10px 0;
}
.content ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content:hover,.fa-arrow-left:hover{
    cursor: pointer;
}
.footer {
    background: #444;
}
.footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    height: 33px;   
}
.footer .fa,.footer ul li {
    color: #ccc;
    font-size: 30px;
}
.footer ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer ul li:hover {
    color: #999;
}
.footer .fa:hover {
    color: #999;
}

.editOne,.editTwo,.editDemo,.editFour,.editFive {
    width: 100%;
    height: 100%;
    position: fixed;
    transition: .3s;
    transform: translateY(-100%);
    z-index: 99;
    background: #fcfcfc;
}

.editOne.show, .editTwo.show, .editDemo.show,.editFour.show, .editFive.show{
    transform: translateY(0);
}
.introduce div{
    text-align: center;
}
.introduce h1{
    color: #333;
    font-size: 35px;
    margin-top: 20px;
    letter-spacing: 1px;
}
.introduce img{
    width:180px;
    height: 180px;
    border-radius: 50%;
    text-align: center;
}
.introduce p{
    text-align: center;
    color: #252728;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    margin: 25px;
}
.introduce .light{
    color: #E91E63;
}

.nav{
    margin: 20px 10px 0 30px;
}
.nav li{
    list-style: circle;
    line-height: 32px;
    font-size: 18px;
    margin-bottom: 18px;
    color: #252728;
}

.contact {
    margin: 100px 10px 0px;
}

.contact i{
    font-size: 40px;
    color: #666;
}
.contact span {
    font-size: 30px;
    color: #252728;
}
.contact li{
    line-height: 55px;
}

.main_project{
    width: 600px;
    height: 700px;
    border: 1px solid #ddd;
}